# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

ROVER5/.qsys_edit/layout.xml
ROVER5/NiosII.html
ROVER5/NiosII.sopcinfo
ROVER5/NiosII/synthesis/NiosII.debuginfo
ROVER5/NiosII/synthesis/NiosII.qip
ROVER5/NiosII/synthesis/NiosII.v
ROVER5/NiosII/synthesis/submodules/NiosII_mm_interconnect_0.v
ROVER5/NiosII/synthesis/submodules/NiosII_sys_id.v
ROVER5/ROVER5.done
ROVER5/ROVER5.qws
ROVER5/db/.cmp.kpt
ROVER5/db/ROVER5.db_info
ROVER5/db/ROVER5.ipinfo
ROVER5/db/ip/NiosII/NiosII.qip
ROVER5/db/ip/NiosII/NiosII.v
ROVER5/db/ip/NiosII/NiosII__report.html
ROVER5/db/ip/NiosII/NiosII__report.xml
ROVER5/db/ip/NiosII/submodules/NiosII_mm_interconnect_0.v
ROVER5/db/ip/NiosII/submodules/NiosII_sys_id.v
ROVER5/db/logic_util_heursitic.dat
ROVER5/software/.metadata/.log
ROVER5/software/.metadata/.plugins/org.eclipse.cdt.ui/Rover5_FreeRTOS.build.log
ROVER5/software/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
ROVER5/software/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
ROVER5/software/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
ROVER5/software/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
ROVER5/software/Rover5_FreeRTOS_bsp/public.mk
ROVER5/software/Rover5_FreeRTOS_bsp/settings.bsp
ROVER5/software/Rover5_FreeRTOS_bsp/summary.html
ROVER5/software/Rover5_FreeRTOS_bsp/system.h

