# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Quartus specific files
ROVER5/.qsys_edit/
ROVER5/*.rpt
ROVER5/*.smsg
ROVER5/*.summary

ROVER5/NiosII.html
ROVER5/NiosII.sopcinfo
ROVER5/NiosII/synthesis/

ROVER5/ROVER5.done
ROVER5/ROVER5.qws
ROVER5/ROVER5.jdi
ROVER5/ROVER5.pin
ROVER5/ROVER5.sof

ROVER5/software/Rover5_FreeRTOS/*.objdump
ROVER5/software/Rover5_FreeRTOS/.force_rebuild
ROVER5/software/Rover5_FreeRTOS/.force_relink
ROVER5/software/Rover5_FreeRTOS_bsp/.force_rebuild
ROVER5/software/Rover5_FreeRTOS_bsp/.force_relink
ROVER5/software/.metadata/.log
ROVER5/software/.metadata/.plugins/

ROVER5/db/
ROVER5/incremental_db/
ROVER5/db/*.cdb
ROVER5/db/*.hdb
ROVER5/db/.cmp.kpt
ROVER5/db/ip/NiosII/NiosII.qip
ROVER5/db/ip/NiosII/NiosII.v
ROVER5/db/ip/NiosII/NiosII__report.html
ROVER5/db/ip/NiosII/NiosII__report.xml
ROVER5/db/ip/NiosII/submodules/NiosII_mm_interconnect_0.v
ROVER5/db/ip/NiosII/submodules/NiosII_sys_id.v
ROVER5/db/logic_util_heursitic.dat
ROVER5/db/ROVER5.db_info
ROVER5/db/ROVER5.ipinfo
ROVER5/db/ROVER5.asm.qmsg
ROVER5/db/ROVER5.asm.rdb
ROVER5/db/ROVER5.asm_labs.ddb
ROVER5/db/ROVER5.cbx.xml
ROVER5/db/ROVER5.cmp.bpm
ROVER5/db/ROVER5.cmp.logdb
ROVER5/db/ROVER5.cmp.rdb
ROVER5/db/ROVER5.cmp_merge.kpt
ROVER5/db/ROVER5.cycloneive_io_sim_cache.45um_ff_1200mv_0c_fast.hsd
ROVER5/db/ROVER5.cycloneive_io_sim_cache.45um_tt_1200mv_0c_slow.hsd
ROVER5/db/ROVER5.cycloneive_io_sim_cache.45um_tt_1200mv_85c_slow.hsd
ROVER5/db/ROVER5.fit.qmsg
ROVER5/db/ROVER5.hier_info
ROVER5/db/ROVER5.hif
ROVER5/db/ROVER5.lpc.html
ROVER5/db/ROVER5.lpc.rdb
ROVER5/db/ROVER5.lpc.txt
ROVER5/db/ROVER5.map.ammdb
ROVER5/db/ROVER5.map.bpm
ROVER5/db/ROVER5.map.kpt
ROVER5/db/ROVER5.map.logdb
ROVER5/db/ROVER5.map.qmsg
ROVER5/db/ROVER5.map.rdb
ROVER5/db/ROVER5.map_bb.logdb
ROVER5/db/ROVER5.pti_db_list.ddb
ROVER5/db/ROVER5.quiproj.5444.rdr.flock
ROVER5/db/ROVER5.routing.rdb
ROVER5/db/ROVER5.sld_design_entry_dsc.sci
ROVER5/db/ROVER5.smart_action.txt
ROVER5/db/ROVER5.smp_dump.txt
ROVER5/db/ROVER5.sta.qmsg
ROVER5/db/ROVER5.sta.rdb
ROVER5/db/ROVER5.sta_cmp.6_slow_1200mv_85c.tdb
ROVER5/db/ROVER5.tis_db_list.ddb
ROVER5/db/ROVER5.tiscmp.fast_1200mv_0c.ddb
ROVER5/db/ROVER5.tiscmp.slow_1200mv_0c.ddb
ROVER5/db/ROVER5.tiscmp.slow_1200mv_85c.ddb
ROVER5/db/ROVER5.vpr.ammdb
ROVER5/ROVER5.pti_db_list.ddb
ROVER5/ROVER5.tis_db_list.ddb
ROVER5/Flash_Programming/mainFrame.session.xml
ROVER5/software/.metadata/.mylyn/repositories.xml.zip
ROVER5/software/Rover5_FreeRTOS_bsp/alt_sys_init.c
ROVER5/software/Rover5_FreeRTOS_bsp/linker.h
ROVER5/software/Rover5_FreeRTOS_bsp/linker.x
ROVER5/software/Rover5_FreeRTOS_bsp/Makefile
ROVER5/software/Rover5_FreeRTOS_bsp/mem_init.mk
ROVER5/software/Rover5_FreeRTOS_bsp/memory.gdb
ROVER5/software/Rover5_FreeRTOS_bsp/public.mk
ROVER5/software/Rover5_FreeRTOS_bsp/settings.bsp
ROVER5/software/Rover5_FreeRTOS_bsp/summary.html
ROVER5/software/Rover5_FreeRTOS_bsp/system.h
ROVER5/software/Rover5_FreeRTOS_bsp/script/flash_programmer.sh
ROVER5/software/Rover5_FreeRTOS_bsp/flash/Rover5_FreeRTOS_EPCS.flash
ROVER5/software/Rover5_FreeRTOS_bsp/flash/ROVER5_EPCS.flash
ROVER5/software/Rover5_FreeRTOS/.settings/org.eclipse.cdt.codan.core.prefs
ROVER5/software/Rover5_FreeRTOS/obj/Release/.force_relink
ROVER5/software/.metadata/.mylyn/repositories.xml.zip
